$navy: #152E55;
$red: #B52025;
$black: #000000;
$grey900: #212121;
$grey700: #616161;
$grey600: #848484;
$grey500: #9E9E9E;
$grey300: #E0E0E0;
$grey200: #EEEEEE;
$grey100: #F5F5F5;
$white: #FFFFFF;


.red {
  background-color: $red;
}

.navy {
  background-color: $navy;
}

.black {
  background-color: $black;
}

.grey900 {
  background-color: $grey900;
}

.grey700 {
  background-color: $grey700;
}

.grey600 {
  background-color: $grey600;
}

.grey500 {
  background-color: $grey500;
}

.grey300 {
  background-color: $grey300;
}

.grey200 {
  background-color: $grey200;
}

.grey100 {
  background-color: $grey100;
}

.white {
  background-color: $white;
  border: 1px solid #E3E3E3;
}