$spacing1: 0.125rem; // 2px
$spacing2: 0.25rem; //4 px
$spacing3: 0.5rem; // 8px
$spacing4: 0.75rem; // 12px
$spacing5: 1rem; // 16px;
$spacing6: 1.5rem; // 24px
$spacing7: 2rem; // 32px
$spacing8: 3rem; // 40px