.icon-stores::before {
  content: url('./icons/stores.svg');
}

.icon-search::before {
  content: url('./icons/search.svg');
}

.icon-profile::before {
  content: url('./icons/profile.svg');
}

.icon-bag::before {
  content: url('./icons/bag.svg');
}

.icon-close::before {
  content: url('./icons/close.svg');
}

.icon-arrow-right::before {
  content: url('./icons/arrow-right.svg');
}

.icon-arrow-left::before {
  content: url('./icons/arrow-left.svg');
}

.icon-plus::before {
  content: url('./icons/plus.svg');
}

.icon-minus::before {
  content: url('./icons/minus.svg');
}

.icon-instagram::before {
  content: url('./icons/nstagram.svg');
}

.icon-facebook::before {
  content: url('./icons/facebook.svg');
}

.icon-twitter::before {
  content: url('./icons/twitter.svg');
}

.icon-pinterest::before {
  content: url('./icons/pinterest.svg');
}

.icon-vimeo::before {
  content: url('./icons/vimeo.svg');
}